server:
  port: 8001
spring:
  application:
    name: springcloud-gateway
  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_HOST}:${NACOS_PORT}
        namespace: ${NACOS_NAMESPACE}
    gateway:
      routes:
        - id: "provide"
          #uri: http://127.0.0.1:8020
          uri: lb://service-provider
          predicates:
            - Path=/provide/**
          filters:
            - RewritePath=/provide/(?<segment>.*), /${segment}
        - id: "consume"
          #uri: http://127.0.0.1:8030
          uri: lb://service-consume
          predicates:
            - Path=/consume/*
          filters:
            - RewritePath=/consume/(?<segment>.*), /${segment}
        - id: "order"
          uri: lb://nacos-provide-order
          predicates:
            - Path=/order/*
          filters:
            - RewritePath=/order/(?<segment>.*), /${segment}
      httpclient:
        connect-timeout: 1000
        response-timeout: 3s