server:
  port: 8042
spring:
  application:
    name: nacos-seata-consume123
  cloud:
    alibaba:
      # 配置服务分组
      seata:
        tx-service-group: default_tx_group
    nacos:
      discovery:
        server-addr: ${NACOS_HOST}:${NACOS_PORT}
        namespace: ${NACOS_NAMESPACE}
        username: ${NACOS_USERNAME}
        password: ${NACOS_PASSWORD}
  datasource:
    url: jdbc:mysql://${MYSQL_IP}:${MYSQL_PORT}/test?useSSL=false&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
seata:
  config:
    type: nacos
    nacos:
      server-addr: ${NACOS_HOST}:${NACOS_PORT}
      group: SEATA_GROUP
      namespace: ${NACOS_NAMESPACE}
      username: ${NACOS_USERNAME}
      password: ${NACOS_PASSWORD}
  registry:
    type: nacos
    nacos:
      application: seata-server
      server-addr: ${NACOS_HOST}:${NACOS_PORT}
      group: SEATA_GROUP
      namespace: ${NACOS_NAMESPACE}
      username: ${NACOS_USERNAME}
      password: ${NACOS_PASSWORD}
  enable-auto-data-source-proxy: false
nacos:
  config:
    server-addr: ${NACOS_HOST}:${NACOS_PORT}
    namespace: ${NACOS_NAMESPACE}

feign:
  client:
    config:
      default:
        connectTimeout: 160000000
        readTimeout: 160000000